/* SELECT PAYMENT METHOD */
.paymentez-checkout {
  border-radius: 10px;
  border: 1px solid #26b57e;
  background: url(../../imgs/fondo-prestashop.jpg);
  padding: 20px;
  background-size: contain;
  background-position: right 0;
  background-repeat: no-repeat;
}
.paymentez-checkout-description {
  margin: 1em 0 0;
  max-width: 280px;
}
.paymentez-checkout-description span {
  background-color: #ffffffc9;
}
@media (max-width: 575px) {
  .paymentez-checkout {
    background: linear-gradient(rgb(255 255 255), rgb(255 255 255 / 65%)),
      url(../../imgs/fondo-prestashop.jpg);
    background-position: center, right 0;
    background-size: contain, contain;
    background-repeat: no-repeat, no-repeat;
  }
}

/* CHECKOUT VIEW */
.paymentez-payment-modify {
  margin-top: 2em;
}

@media (max-width: 575px) {
  .paymentez-payment-title {
    margin: 1em 0 2em;
  }
  .js-payment-checkout {
    margin: 1em 0;
  }
}
